@import '../global.scss';

.main {
  background-color: $black2;
  color: $white;
  padding: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account {
  padding: 10px;
  margin-right: 44px;
}

.login {
  margin-right: 36px;
  font-size: 16px;
}

.signin {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
