$black1: #000000;
$black2: #171717;
$black3: #333236;
$black4: #4b4b4b;
$gray1: #787486;
$gray2: #9fa6b2;
$gray3: #d9d9d9;
$gray4: #eeeeee;
$gray5: #fafafa;
$white: #ffffff;
$violet1: #5534da;
$violet2: #f1effd;
$red: #d6173a;
$green: #7ac555;
$purple: #760dde;
$orange: #ffa500;
$blue: #76a6ea;
$pink: #e876ea;
