$black1: #000000;
$black2: #171717;
$black3: #333236;
$black4: #4b4b4b;
$gray1: #787486;
$gray2: #9fa6b2;
$gray3: #d9d9d9;
$gray4: #eeeeee;
$gray5: #fafafa;
$white: #ffffff;
$violet1: #5534da;
$violet2: #f1effd;
$red: #d6173a;
$green: #7ac555;
$purple: #760dde;
$orange: #ffa500;
$blue: #76a6ea;
$pink: #e876ea;

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf')
      format('truetype');
  font-display: swap;
}

$font-family: 'Pretendard', sans-serif;

body {
  font-family: $font-family;
}
